[defaults]
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml

[ssh_connection]
# accept-new : accepte la clé d'un nouveau serveur, mais refuse si elle change ensuite
ssh_args = -o StrictHostKeyChecking=accept-new -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
