# {{ ansible_managed }}
DB_SERVER={{ db_host }}
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWD={{ db_password }}
DB_PREFIX=ps_
PS_DOMAIN={{ ps_domain }}
PS_INSTALL_AUTO={{ '1' if inventory_hostname == ps_installer else '0' }}
PS_ERASE_DB=0
PS_FOLDER_ADMIN={{ ps_admin_folder }}
PS_FOLDER_INSTALL={{ ps_install_folder }}
PS_LANGUAGE={{ ps_language }}
PS_COUNTRY={{ ps_country }}
PS_ENABLE_SSL=0
PS_DEV_MODE=0
ADMIN_MAIL={{ ps_admin_email }}
ADMIN_PASSWD={{ ps_admin_password }}
